body {
    font-family: 'Georgia', serif;
    background-color: #ffefeb;
    color: #e6e6e6;
    margin: 30px;

    background-image: url('images/azja.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

header, footer {
    color: #ffffff;
    padding: 30px;
    text-align: center;
}

header {
    position: relative;
    background-image: url('images/img2.jpg');
    background-size: cover;
    background-position: center;
    padding: 60px;
}

header::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.4);
    z-index: 1;
}

header h1, header h2 {
    position: relative;
    color: #ffa0a0;
    z-index: 2;
}

footer {
    background-color: #3d1e1a;
    color: #fff8f8;
    padding: 20px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
    border-top: 4px solid #d62828;
}

section {
    border: 5px double #d62828;
    background: linear-gradient(to right, #e19d8c, #e2c0af);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    padding: 20px;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
}

section:hover {
    transform: scale(1.02);
}

h1 {
    color: #d62828;
    font-style: italic;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

h2 {
    color: #f77f00;
    text-decoration: underline;
}

h3 {
    color: #ffffff;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

ul li {
    background-size: 16px;
    padding-left: 25px;
    font-style: italic;
    color: #ff8f8f;
}

a {
    color: #0077b6;
    text-decoration: none;
    transition: color 0.3s ease, transform 0.2s ease;
}

a:hover {
    color: #003049;
    transform: scale(1.05);
}

@media (max-width: 480px) {
    body {
        margin: 5px;
        font-size: 80%;
    }

    header, footer {
        padding: 8px;
        text-align: center;
    }

    section {
        padding: 10px;
        margin-bottom: 15px;
    }

    h1, h2, h3 {
        font-size: 1.2em;
    }
}

img {
    width: 100%;
    max-width: 600px;
    border-radius: 5px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
}